﻿@model TestePraticoMvc.Models.Pessoa

@{
    ViewBag.Title = "Editar pessoa";
}

<a href="/pessoas/index" class="my-auto"><i class="fas fa-arrow-left"></i></a>
<h2 class="text-center p-2 mt-2 bg-warning text-black round-1">Editar - <span data-bind="text: nome"></span>&nbsp;<span data-bind="text: sobrenome"></span></h2>

<section class="mt-5">
    <form class="row" data-bind="submit: editPessoa">
        <input type="hidden" disabled data-bind="value: id" />
        <div class="col-12 col-md-3 mb-3">
            <label for="nome" class="form-label text-capitalize">Nome:</label>
            <input id="nome" required="required" type="text" class="form-control" placeholder="Digite" data-bind="value: nome">
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label for="sobrenome" class="form-label text-capitalize">Sobrenome:</label>
            <input id="sobrenome" required="required" type="text" class="form-control" placeholder="Digite" data-bind="value: sobrenome">
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
            <input id="dataNascimento" required="required" type="date" class="form-control" data-bind="value: dataNascimento">
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label for="estadoCivil" class="form-label">Estado Civil:</label>
            <select id="estadoCivil" class="form-select" required="required" data-bind="value: estadoCivil">
                <option value="Solteiro(a)">Solteiro(a)</option>
                <option value="Casado(a)">Casado(a)</option>
                <option value="Divorciado(a)">Divorciado(a)</option>
                <option value="Viuvo(a)">Viúvo(a)</option>
            </select>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label for="cpf" class="form-label">CPF:</label>
            <input id="cpf" required="required" type="text" class="form-control" maxlength="14" placeholder="Apenas CPF válido." data-bind="value: cpf">
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label for="rg" class="form-label">RG:</label>
            <input id="rg" required="required" type="text" class="form-control" maxlength="12" placeholder="Apenas RG válido" data-bind="value: rg">
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-warning">Editar</button>
        </div>
    </form>
</section>