@model  List<TestePraticoMvc.Models.Pessoa>

@{
    ViewBag.Title = "Lista de Pessoas";
}

<div class="d-flex justify-content-between mb-4">
    <h3 class="mb-6">Lista de Pessoas</h3>
    <a href="/pessoas/nova" class="btn btn-success text-white fw-bold">Nova Pessoa</a>
</div>

<section class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="text-lg fs-5">
            <tr class="table-primary">
                <th>Nome</th>
                <th>Sobrenome</th>
                <th class="">Data de Nascimento</th>
                <th>Estado Civil</th>
                <th>CPF</th>
                <th>RG</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: pessoas">
            <tr class="text-capitalize fw-semibold">
                <td data-bind="text: Nome"></td>
                <td data-bind="text: Sobrenome"></td>
                <td data-bind="text: DataNascimento"></td>
                <td data-bind="text: EstadoCivil"></td>
                <td data-bind="text: Cpf"></td>
                <td data-bind="text: Rg"></td>
                <td class="text-center">
                    <button class="btn btn-secondary py-1 px-2 text-xs" data-bind="click: $root.detalhes.bind($data, Id)"><i class="fas fa-eye"></i></button>
                    <button class="btn btn-warning py-1 px-2 text-xs" data-bind="click: $root.editar.bind($data, Id)"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger py-1 px-2 text-xs" data-bind="click: $root.excluir.bind($data, Id)"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

